body {
    margin: 0 auto;
    /* remove later */
    height: 6532px;
}

h1 {
    padding: 5rem 1.85rem 12px;
    /* is dafualt margin = 0 ??? */
    margin: 0;
    letter-spacing: 1.72px;
    font-family: "BNChester";
    font-size: 48px;
    line-height: 48.91px;
}

h2 {
    font-family: "BNChester";
    font-size: 32px;
    letter-spacing: 0.05em;
}

p {
    font-family: "Gilroy", Verdana, sans-serif;
    line-height: 27.2px;
    word-spacing: -0.45px;
}

hr {
    border: 0.05px solid #dcd1bb;
}

.container {
    padding: 28px 30px 0;
    position: relative;
    text-align: center;
}

/* BUTTONS */
.btn {
    text-align: center;
    padding-right: 10px;
}

.get-started-btn {
    color: black;
    font-family: "GilroySemiBold";
    font-size: 16px;
    font-weight: 400;
    width: 87%;
    height: 2.75rem;
    background-color: white;
    border-radius: 8px;
    border: 2.5px solid #d3a265;
}

.more-button {
    color: black;
    padding-top: 10px;
    padding-bottom: 18px;
    font-family: "GilroyMedium";
    font-size: 14px;
    position: relative;
    right: 5px;
    text-align: left;
    background-color: #f4f4f4;
    text-decoration: underline;
    text-decoration-color: #d3a265;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    border: none;
}

/* TITLE */
#title {
    padding-top: 35.09px;
}

.title > p {
    padding: 0 1.6rem 1.6rem;
}

.logo {
    padding: 0 30px 30px;
    max-width: 136.47px;
}

#title button {
    margin-bottom: 2rem;
}

.title-img {
    max-width: 100%;
}

/* ABOUT */
.about {
    background-color: #f4f4f4;
    bottom: 6px;
    padding-top: 37.25px;
    padding-bottom: 1.4rem;
    text-align: left;
}

.about > h2 {
    max-width: 100px;
    position: relative;
    bottom: 3px;
}

/* SERVICES */
#services > .container {
    position: relative;
    z-index: -1;
    background-color: white;
    text-align: center;
    padding-top: 21px;
}

h2.services {
    position: relative;
    left: 5px;
    margin: 1.85rem auto 1.7rem auto;
    max-width: 25%;
    display: table;
    text-align: center;
    letter-spacing: 0.05em;
}

.cards {
    padding: 3px 6px 6px;
    display: flex;
    flex-direction: column;
}

.card > hr {
    width: 100%;
    margin-bottom: 53px;
}

.cards h3 {
    font-family: "GilroyRegular";
    font-size: 16px;
    padding-left: 5.5px;
    padding-bottom: 18px;
}

/* is it possible to set padding at every line <p>? */
.card > p {
    font-size: 16px;
    text-align: center;
    line-height: 170%;
    color: #8d8d8d;
    max-width: 78%;
    padding-left: 12%;
    padding-bottom: 35px;
}

.card > img {
    padding-left: 5px;
}

.interior-design {
    max-width: 24%;
    padding-bottom: 21px;
}

.decorative-services {
    max-width: 30%;
    padding-bottom: 27px;
}

.space-planning {
    padding-bottom: 21px;
}

.project-mgmt {
    padding-bottom: 20px;
}

/* PORTFOLIO */
#portfolio {
    background-color: #f4f4f4;
    position: relative;
    z-index: 1;
    bottom: 13px;
    padding-bottom: 1.8rem;
}

.portfolio-h2 {
    position: relative;
    bottom: 6px;
    left: 1px;
    padding-bottom: 1px;
}

.portfolio-navbar {
    display: flex;
    flex-wrap: wrap;
    font-family: "GilroyRegular";
    font-size: 13px;
    padding-top: 1.16rem;
    padding-bottom: 2.25rem;
    gap: 7.1%;
}

.portfolio-navbar > ul {
    padding: 0;
}

.portfolio-pics {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#portfolio .more-button {
    position: relative;
    left: 39.5%;
    padding-top: 3.1rem;
}

/* FONTS */
@font-face {
    font-family: "BNChester";
    src: url("fonts/BNChesterRegular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Light.otf") format("otf");
}

@font-face {
    font-family: "GilroySemiBold";
    src: url("fonts/GilroySemiBold.woff") format("woff");
}

@font-face {
    font-family: "GilroyRegular";
    src: url("fonts/GilroyRegular.woff") format("woff");
}

@font-face {
    font-family: "GilroyMedium";
    src: url("fonts/GilroyMedium.woff") format("woff");
}
