/* COLORS */
/* #D3A265 */

body {
    margin: 0 auto;
    /* remove later */
    height: 6532px;
}

h1 {
    padding: 5rem 1.85rem 12px;
    /* is dafualt margin = 0 ??? */
    margin: 0;
    letter-spacing: 1.72px;
    font-family: "BNChester";
    font-size: 48px;
    line-height: 48.91px;
}

h2 {
    font-family: "BNChester";
    font-size: 32px;
    letter-spacing: 0.05em;
}

p {
    font-family: "Gilroy";
    line-height: 27.2px;
    word-spacing: -0.45px;
}

hr {
    border: 0.05px solid #dcd1bb;
}

.container {
    padding: 28px 30px 0;
    position: relative;
}

/* BUTTON */
.button {
    text-align: center;
    /* max-width: 27.5rem; set for bigger screens*/
}

button {
    color: black;
    font-family: "GilroySemiBold";
    font-size: 16px;
    font-weight: 400;
    width: 85%;
    height: 2.75rem;
    background-color: white;
    border-radius: 8px;
    border: 2.5px solid #d3a265;
}

/* TITLE */
#title {
    padding-top: 35.09px;
}

.title > p {
    padding: 0 1.6rem 1.6rem;
}

.logo {
    padding: 0 30px 30px;
    max-width: 136.47px;
}

#title button {
    margin-bottom: 2rem;
}

.title-img {
    max-width: 100%;
}

/* ABOUT */
.about {
    background-color: #f4f4f4;
    bottom: 9px;
    padding-top: 37.25px;
}

.about > h2 {
    max-width: 100px;
}

.about > p {
    padding-top: 3px;
}

.about > button {
    font-size: 14px;
    position: relative;
    right: 5px;
    text-align: left;
    padding-bottom: 6px;
    background-color: #f4f4f4;
    text-decoration: underline;
    text-decoration-color: #d3a265;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    border: none;
}

/* SERVICES */
.services {
    background-color: white;
    bottom: 20px;
    text-align: center;
}

.services > h2 {
    /* padding lacks responsiveness :( */
    padding: 4px 0 0 33%;
    max-width: 25%;
    display: table;
    text-align: center;
    letter-spacing: 0.05em;
}

.cards {
    padding: 3px 6px;
}

.card > hr {
    width: 347px;
    margin-bottom: 53px;
}

.cards h3 {
    font-family: "GilroyRegular";
    font-size: 16px;
    padding-left: 7px;
    padding-bottom: 18px;
}

/* how to set padding at every line <p>? */
.card > p {
    font-size: 16px;
    line-height: 170%;
    color: #8d8d8d;
    max-width: 78%;
    padding-left: 13%;
    padding-bottom: 33px;
}

.card > img {
    padding-left: 5px;
}

.interior-design {
    max-width: 24%;
    padding-bottom: 21px;
}

.decorative-services {
    max-width: 30%;
    padding-bottom: 28px;
}

.space-planning {
    padding-bottom: 24px;
}

.project-mgmt {
    padding-left: 5px;
    padding-bottom: 24px;
}

/* FONTS */
@font-face {
    font-family: "BNChester";
    src: url("fonts/BNChesterRegular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Light.otf") format("otf");
}

@font-face {
    font-family: "GilroySemiBold";
    src: url("fonts/GilroySemiBold.woff") format("woff");
}

@font-face {
    font-family: "GilroyRegular";
    src: url("fonts/GilroyRegular.woff") format("woff");
}
